# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
.env
*.pem
backend/utils/team-nebula-43946-firebase-adminsdk-tt032-6cf1f8c2c0.json
frontend/src/utils/firebase-config.ts
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
